.calculator-display {
  display: flex;
  justify-content: flex-start;
  width: 600px;
  height: 200px;
  border: solid black 1px;
  margin: 0 auto;
}

#number-input {
  margin-left: 98px;
  height: 100px;
  width: 150px;
  font-size: 30px;
  text-align: center;
}

#image {
  height: 175px;
  width: 175px;
}

#header1 {
  margin-left: 60px;
  height: 50px;
}

.calc-button {
  display: flex;
  border: solid black 1px;
  margin-top: 10px;
  padding: 30px;
  width: 10px;
  height: 8px;
  line-height: 1px;
  text-align: center;
  justify-content: center;
  color: black;
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.row-1,
.row-2,
.row-3,
.row-4 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 30px;
  border: solid black 1px;
  width: 600px;
  margin-bottom: 5px;
}

#btn-equal {
  background-color: orange;
  color: black;
}

#btn-clear {
  background-color: red;
  color: black;
}
